attrs
certifi
cffi
charset-normalizer
h11
idna
outcome
pycparser
PyQt5
PyQt5-Qt5
PyQt5-sip
PySocks
requests
selenium
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
undetected-chromedriver
urllib3
websockets
wsproto